.k-h-area {
  padding: 100px 0;
  padding-bottom: 0; }
  .k-h-area .kitblocks-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .k-h-area .kitblocks-row h2 {
      margin-bottom: 5px;
      font-size: 28px;
      line-height: 45px;
      color: #70879A; }
    .k-h-area .kitblocks-row p {
      margin: auto;
      padding-top: 10px;
      line-height: 32px;
      font-size: 18px;
      color: #222F3F; }

.k-s-s-o {
  padding: 80px 0px; }

.kitblocks-item-slider-one .owl-nav {
  position: absolute;
  bottom: 42%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%; }
  .kitblocks-item-slider-one .owl-nav button {
    width: 50px;
    height: 50px;
    background: #70879A !important;
    color: #fff !important;
    border-radius: 50%;
    line-height: 50px !important;
    font-size: 30px !important; }
  .kitblocks-item-slider-one .owl-nav .owl-prev {
    position: absolute;
    left: -80px;
    top: 0; }
  .kitblocks-item-slider-one .owl-nav .owl-next {
    position: absolute;
    right: -80px;
    top: 0;
    left: auto; }

.kitblocks-item-slider-one .k-s-s-o-item {
  width: 100%; }
  .kitblocks-item-slider-one .k-s-s-o-item .k-s-s-o-item-header {
    margin-bottom: 10px;
    position: relative; }
    .kitblocks-item-slider-one .k-s-s-o-item .k-s-s-o-item-header p {
      font-size: 28px;
      font-weight: 600;
      line-height: 33px;
      color: #70879A;
      margin-bottom: 0; }
    .kitblocks-item-slider-one .k-s-s-o-item .k-s-s-o-item-header span {
      margin: auto;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: #222F3F; }
  .kitblocks-item-slider-one .k-s-s-o-item a {
    width: 100%;
    position: relative; }
    .kitblocks-item-slider-one .k-s-s-o-item a::after {
      height: 1px;
      width: 50%;
      left: -10px;
      background: #222F3F;
      position: absolute;
      top: 15px;
      display: block;
      content: ""; }
    .kitblocks-item-slider-one .k-s-s-o-item a .k-s-s-o-item-img {
      margin-left: 10px;
      margin-right: 10px;
      position: relative; }
      .kitblocks-item-slider-one .k-s-s-o-item a .k-s-s-o-item-img img {
        width: 100%; }
      .kitblocks-item-slider-one .k-s-s-o-item a .k-s-s-o-item-img .k-s-s-o-item-img-overlay {
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        opacity: 0;
        background: #0000008f;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .kitblocks-item-slider-one .k-s-s-o-item a .k-s-s-o-item-img .k-s-s-o-item-img-overlay span {
          color: #f8f9fa;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          font-weight: 600;
          text-transform: uppercase; }
    .kitblocks-item-slider-one .k-s-s-o-item a:hover .k-s-s-o-item-img .k-s-s-o-item-img-overlay {
      opacity: 1; }

.block-editor-page .k-h-area {
  padding: 60px 0 !important; }

.block-editor-page .kitblocks-item-slider-one {
  display: block; }
  .block-editor-page .kitblocks-item-slider-one .k-s-s-o-item {
    display: inline-block;
    max-width: 33%; }
